<h1>Listing employees</h1>

<script type="text/x-handlebars">
  {{ view App.ListEmployeesView }}
</script>

<script type="text/javascript">
  $(function() {
    App.employeesController.loadAll(<%= @employees.to_json.html_safe %>);
  });
</script>









